$main-black: #24292e;
$lighted-main-black: lighten($main-black, 25);

.hidden {
  display: none;
  pointer-events: none;
}

.dark {
  background-color: $main-black;
  color: #fff;
}

button {
  border: 1px solid;
  border-radius: 6px;
  padding: 5px 16px;
  cursor: pointer;
  
  &.light {
    background-color: #ececec;
    border-color: rgba(#333, .1);
    box-shadow: 1px 1px 2px rgba(#aaa, 1);
  }

  &.dark {
    border: 1px solid rgba(#666, .5);
    background-color: $main-black;
    box-shadow: none;

    &:hover {
    border: 1px solid rgba(#666, 1);
    }
  }

  &:focus {
    border: none;
    outline: none;
  }
}
