#chat-wrapper {
  position: absolute;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 60px);
  top: 60px;

  .chat-window {
    position: relative;
    display: block;
    height: 80vh;
    width: 70vw;
    border-radius: 10px;

    @media screen and (max-width: 1501px) {
      width: 90vw;
    }
  }

  #chat-area {
    position: relative;
    display: block;
    width: 95%;
    height: 84%;
    margin: 1% auto 5px auto;
    overflow-y: auto;
  }

  /* Width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 4px $main-black;
    border-radius: 6px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: $lighted-main-black;
    border-radius: 6px;

    &:hover {
      background-color: #555;
    }
  }

  .chat-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    height: 12%;
    margin: 0 auto;

    input[type="text"] {
      position: relative;
      width: 90%;
      height: 30px;
      background-color: $lighted-main-black;
      border-radius: 15px;
      color: #fff;
      font-size: 1em;
      box-shadow: none;
      border: none;
      outline: none;
      text-indent: 10px;

      &::placeholder {
        color: #bbb;
        text-indent: 20px;
      }
    }
  }

  #sendBtn {
    margin-left: 10px;
    height: 30px;
  }
}

.message-wrap {
  position: relative;
  display: block;
  height: 35px;
  width: 100%;


  .message {
    position: absolute;
    display: inline-block;
    // width: 100%;

    .content {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 5px 0 5px 10px;
      padding: 5px 10px;
      border-radius: 20px;
      border-top-left-radius: 0;
      background-color: #bdc3c7;
    }

    .sender {
      position: relative;
      top: 5px;
      font-size: 10px;
      margin: 0;
    }

    &.sent {
      position: absolute;
      right: 0;

      .content {
        background-color: #686de0;
        right: 0px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0;
        margin-left: 0;
      }
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
    }
  }
}
