#chat-wrapper {
  position: absolute;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 60px);
  top: 60px;

  .chat-window {
    position: relative;
    display: block;
    height: 85vh;
    width: 80vw;
    border-radius: 10px;

    @media screen and (max-width: 1501px) {
      width: 90vw;
      height: 92.5%;
    }

    @media screen and (max-width: 1001px) {
      width: 100vw;
      height: 100%;
    }
  }

  #chat-area {
    position: relative;
    display: block;
    width: 95%;
    height: 84%;
    margin: 1% auto 5px auto;
    overflow-y: auto;

    * {
      transition: all .3s ease;
    }
  }

  /* Width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 4px $main-black;
    border-radius: 6px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: $lighted-main-black;
    border-radius: 6px;

    &:hover {
      background-color: #555;
    }
  }

  .chat-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
    height: 12%;
    margin: 0 auto;

    input[type="text"] {
      position: relative;
      width: 90%;
      height: 30px;
      background-color: $lighted-main-black;
      border-radius: 15px;
      color: #fff;
      font-size: 1em;
      box-shadow: none;
      border: none;
      outline: none;
      text-indent: 10px;

      &::placeholder {
        color: #bbb;
        text-indent: 20px;
      }
    }
  }

  #sendBtn {
    margin-left: 10px;
    height: 30px;
  }

  #photoBtn {
    margin-left: 5px;
    height: 30px;
  }
}

.message-wrap {
  position: relative;
  display: block;
  min-height: 35px;
  height: auto;
  width: 100%;

  .message {
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 50%;

    @media screen and (max-width: 601px) {
      max-width: 80%;

      .content {
        max-width: 950%;
      }
    }

    .content {
      position: relative;
      display: inline-flex;
      max-width: 80%;
      right: 0;
      align-items: center;
      justify-content: center;
      margin: 5px 0 5px 10px;
      padding: 5px 10px;
      border-radius: 20px;
      border-top-left-radius: 0;
      word-break: break-all;
      background-color: #8b9194;
    }

    .sender {
      display: inline-block;
      position: relative;
      top: calc(100% - 14px);
      height: 12px;
      font-size: 10px;
      margin: 0 4px 0 10px;
    }
  }

  a {
    color: #f1c40f;

    &:hover {
      color: lighten(#f1c40f, 30);
    }
  }

  .date {
    position: relative;
    display: inline-block;
    bottom: -5px;
    font-size: 10px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 15px;
      width: 1px;
      top: -2px;
      left: -4px;
      background-color: #e1b12c;
    }
  }

  &.sent {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .edited-mark {
      right: 20px;
    }

    .message {
      position: relative;
      display: flex;
      justify-content: flex-end;
    }

    .content {
      position: relative;
      display: inline-block;
      background-color: #3498db; // old  #686de0
      right: 5px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 0;
      margin-left: 0;
    }

    .sender {
      margin-right: 8px;
    }

    .date {
      top: calc(100% - 14px);
      left: 0;
      margin-right: 10px;
    }
  }

  &:not(.sent) {
    .sender {
      top: 5px;
      left: -3px;
    }

    .edited-mark {
      left: 20px;
    }
  }

  .edited-mark {
    width: 30px;
    position: absolute;
    font-size: 8px;
    bottom: -10px;
  }

  &.image {

    .message {

      .content-img {
        width: 192px * 2;
        height: 108px * 2;
      }
    }
  }
}

.connection {
  position: relative;
  display: flex;
  width: 100%;
  height: 15px;
  margin-top: 5px;
  justify-content: center;
  align-items: center;

  .username {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
}

// Image messages
.img-message {
  width: 300px;
}
