header {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  z-index: 1;

  .logo {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 30px;

    p {
      font-size: 2.2em;
      margin: 0;
    }
  }

  .user {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 30px;

    button#edit-user {
      background-color: transparent;
      border: none;
      border-radius: 10px;
      cursor: pointer;

      &:focus {
        outline: none;
        border: none;
      }

      img {
        height: 24px;
        width: 24px;
      }
    }
  }
  
  #dropdown {
    position: absolute;
    display: none;
    right: 30px;
    top: 60px;
    height: 150px;
    width: 150px;
    border-radius: 20px;
    z-index: 100;
    background-color: #fff;
    box-shadow: 4px 4px 4px rgba(#bababa, .35),
      4px 4px 12px rgba(#bababa, .35);

      @media screen and (max-width: 1501px) {
      background-color: #fafafa;
        box-shadow: none;
      }

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 20px;
      top: -5px;
      background-color: #fff;
      z-index: 99;
      width: 12px;
      height: 12px;
      transform: rotateZ(45deg);
    }
    
    #user {
      position: relative;
      display: block;
      width: 100%;
      height: 25px;
      text-align: center;
      color: #666;
      word-break: break-all;
    }
    
    button {
      margin: 0 auto;
      width: 80px;
      height: 30px;
      margin-left: 35px;
    }
  }
}